@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #303b47;
  --secondary-color: #66454f;
  --highlight: #666445;
  --white: white;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("./assets/images/AdobeStock_167882675.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--white)
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Generic Heading Styles */
h1, h2, h3, h4 {
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

.page-title {
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 2.5rem;
}

/* Header Styles */

header h1 {
  padding-left: 25px;
  justify-content: center;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: center;
  color: var(--black);
  background-position: 80%;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 15px;
  flex-wrap: wrap;
}

nav ul {
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  display: inline;
  list-style-type: none;
  /* flex-basis: 200px; */
  padding: 15px 20px;
  opacity: 100%;
}

ul li a {
  text-decoration: none;
  opacity: 100%;
  padding: 10px;
  display: block;
}

nav ul li a {
  color: var(--black)
}

/* LAYOUT */
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 92%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}


.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 0.5%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 0.5%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 0.5%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 0.5%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 0.5%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 0.5%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 0.5%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 0.5%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 0.5%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 0.5%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 0.5%);
}

.col-12 {
  flex: 0 0 100%;
}

.mb-3 {
  margin-bottom: 1rem;
}

/* DISPLAY */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

/* main content section styles */
.main-content-wrapper {
  width: 85%;
}

.main-content-wrapper {
  padding-top: 15px;
  padding-bottom: 25px;
  margin: 0 auto;
}


/* Poem and Poem List */
.poem-body {
  margin-top: 25px;
}

/* Override for MUI card */
.MuiCard-root, .MuiPaper-root {
  background-color: rgba(255,255,255, .6);
}

/* Form */
button {
  font-family: 'Open Sans', sans-serif;
}

.main {
  background-color: rgba(250, 235, 215, .9);
  padding: 25px;
  border-radius: 8px;
}

.main h2 {
  color: var(--primary-color);
  margin-top: 15px;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
}


/* CARDS */
.card {
  justify-content: center;
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--dark);
}

.card-header {
  color: var(--secondary);
  margin: 0;
  background-color: var(--dark);
  padding: 25px;
  border-radius: 8px;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: flex-start;
  color: var(--black);
  background-position: 80%;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 15px;
  flex-wrap: wrap;
}

nav ul {
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  display: inline;
  list-style-type: none;
  /* flex-basis: 200px; */
  padding: 15px 20px;
  opacity: 100%;
}

ul li a {
  text-decoration: none;
  opacity: 100%;
  padding: 10px;
  display: block;
}

nav ul li a {
  color: var(--black)
}

/* Styles for the footer */

footer {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  height: 50px;
}

/* col-lg */
@media screen and (min-width: 1400px) {
  nav {
    width: auto;
    justify-content: flex-end;
  }

  .page-title {
    width: auto;
  }

  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }
}