# Name of workflow
name: Lint workflow
# Trigger workflow on all pull requests
on:
  pull_request:
    branches:
      - dev
      - main
# Jobs to carry out
jobs:
  test:
  #OS to run job on
    runs-on: ubuntu-latest
    # Steps in job
    steps:
      # Get code from repo
      - name: Checkout code
        uses: actions/checkout@v1
      # Install NodeJS
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: install deps
        run: npm install
      - name: Run lint
        run: npm run lint